card-container{
    display: grid;
    justify-content: center;
}
large-banner{
    display: block;
    text-align: center;
    width: 100%;
    font-size: 42pt;    
    text-transform: uppercase;
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

title{
    display: block;
    font-size: 32pt;    
    text-transform: uppercase;
    font-weight: 600;
}


card{
    gap: 2rem;
    font-weight: 200;
    margin: 3rem;
    display: grid;
    grid-template-columns: min-content auto;
    max-width: 45rem;
    justify-items: center;
    
    border-radius: 3rem;
    outline: rgba(255, 255, 255, 0.46) 1pt solid;
    padding: 2.5rem 3rem;
    min-height: 13rem;
    align-items: center;
    background: linear-gradient(rgba(7, 9, 31, 0.46) 0%, rgba(128, 128, 156, 0.46) 100%);

    position: relative;
    z-index: 1;


    transition: transform .4s ease-in-out;
}

card:hover{
    transform: scale(1.025);
}
card:hover img{
    transform: scale(1.15);
}

card img{
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
    margin-bottom: -8.9rem;
    max-height: 25rem;
    z-index: 2;
    opacity: 1;
    transition: transform .35s ease-in-out;
}

card::before {
    border-radius: 3rem;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-repeat: no-repeat;
    opacity: 0.25;
    z-index: -1;
}

card:nth-of-type(1) img{
    filter: drop-shadow(0 0 13px rgba(219, 88, 122, 0.6));
}
card:nth-of-type(2) img:nth-child(1){
    filter: drop-shadow(0 0 13px rgba(84, 188, 234, 0.6));
}
card:nth-of-type(2) img:nth-child(2){
    filter: drop-shadow(0 0 13px rgba(239, 216, 75, 0.6));
}
card:nth-of-type(3) img{
    filter: drop-shadow(0 0 13px rgba(119, 126, 150, 0.6));
}

card:nth-of-type(1)::before {
    background-image: url(../images/charKim.png);
    background-position: 100% 13%;
}
card:nth-of-type(2)::before {
    background-image: 
    url(../images/charMari.png)
    ,
    url(../images/charMima.png)
    ;
    background-position: 
    -15% 4%
    ,
    -2% 7%
    ;
}

card:nth-of-type(3)::before {
    background-image: url(../images/charMichael.png);
    background-position: 100% 13%;
}
card:nth-of-type(2) {

    grid-template-columns: auto min-content;
}

card:nth-of-type(3) {
    background: linear-gradient(rgba(7, 9, 31, 0.46) 0%, rgba(128, 128, 156, 0.46) 100%);

}

card:nth-of-type(2) img{
    grid-area: 1 / 2 / 2 / 2;
}
card:nth-of-type(2) img:nth-child(1){
    margin-right: -8rem;
}
card:nth-of-type(2) img:nth-child(2){
    margin-right: 7rem;
}

inner-card{
    z-index: 1;
    display: grid;
    gap: 1rem;
    height: min-content;
}


description{
    font-size: 14pt;
    max-width: 26rem;
}

inner-card a{
    text-align: end;
}

@media screen and (max-width: 60rem){
    card{
        max-width: 20rem;
        margin: 3rem 1.5rem;
    }
    card, card:nth-of-type(2){
        grid-template-columns: auto;
    }

    card:nth-of-type(2) img{
        grid-area: 1 / 1 / 2 / 2;
    }
    large-banner{
        font-size: 32pt; 
    }
    
    card img{
        margin-top: -5rem;
        margin-bottom: -2rem;
    }

    card:nth-of-type(2)::before {
        background-position: 
        -10rem 4%
        ,
        4rem 7%
        ;
    }   
}

@media screen and (max-width: 35rem){
    card:nth-of-type(2)::before {
        background-position: 
        -10rem 4%
        ,
        calc(calc(calc(20vw * -1) + 7rem)*-1) 7%
        ;
    }   
    card{
        padding: 2.5rem 1.5rem;
    }
    card img{
        max-height: 20rem;
    }
    
    large-banner{
        font-size: 24pt; 
    }
    card:nth-of-type(2) img{
        max-height: 15rem;
    }
    card:nth-of-type(2) img:nth-child(1){
        margin-right: -3rem;
    }
    card:nth-of-type(2) img:nth-child(2){
        margin-right: 6rem;
    }
}

@media screen and (max-width: 35rem){
    large-banner{
        font-size: 22pt; 
    }
    
    title {
        font-size: 24pt;    
    }    
    
    description {
        font-size: 12pt;
    }
}