*::-webkit-scrollbar {
    width: .5rem;
}
   
*::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.75);
    border-radius: 1rem;
}

*::-webkit-scrollbar-track {
    background: rgba(39,40,74,1);
    border-radius: 20px;
}

body{
    backface-visibility: hidden;
    
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(0deg, rgba(30,29,46,1) 0%, rgba(39,40,74,1) 69%, rgba(7,9,31,1) 100%);

    color: white;
    font-family: "DM Sans", sans-serif;
}

.body-container{
    background-image: url(../images/starsBg.svg);
    background-size: 100%;
    background-repeat:repeat-y;
}

.navigation{
    padding: 3rem 6rem;
    width: auto;
    display: grid;
    align-items: center;

    grid-template-columns: 1fr min-content;
}

.devoidLogo {
    height: 4rem;
}

.devoidLogoLINK{
    width: min-content;
    transition-duration: 0.3s;
    will-change: transform; 
}

.devoidLogoLINK:hover{
    transform: scale(1.15);
    transition-duration: 0.3s;
}

nav ul, nav-alt ul{
    font-family: "Inter Tight", sans-serif;
    text-decoration: none;
    font-weight: 200;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.navbar{
    width: 100%;
    display: flex;
}

nav-alt{
    display: none;
}

.navbar li a, .navbar-alt li a{
    font-size: 20px;
    padding: .5rem 1.5rem;

    width: 100%;
    text-align: center;
}

.navbar-item, .devoidLogoLINK{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-item{
    background: rgba(255, 255, 255, 0.0);
    border-radius: 45px;
    cursor: pointer;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    border: 1px solid rgba(255, 255, 255, 0);

    transition: 0.2s;
}

.navbar-item:hover{
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.75);
}

.navbar-item:active{
    background: rgba(255, 255, 255, 0.5);
} 

main{
    margin: auto;
}

a, button{
    color: white;
    text-decoration: none;
}


button{
    background: linear-gradient(0deg, rgba(255,255,255,0.45) 0%, rgba(255,255,255,0) 100%);
    border-radius: 45px;
    cursor: pointer;
    padding: 10px 72px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    border: 1px solid rgba(255, 255, 255, 0.75);

    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;

    transition-duration: 0.3s;

}

button:hover{
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 50px 0px;
    background: linear-gradient(0deg, rgba(255,255,255,0.60) 0%, rgba(255,255,255,0.60) 100%);
    transform: scale(1.15);
    transition-duration: 0.3s;
}

button:active{
    color: #27284A;
    background: rgba(255, 255, 255, 1);
    box-shadow: rgba(255, 255, 255, 0.75) 0px 0px 50px 0px;
}

.main-container, .body-container{
    max-width: 70rem;
    margin: auto;
}

.main-container{

    z-index: 2;
    position: relative;
    
    background: linear-gradient(0deg, rgba(200, 200, 200, 0.75) 0%, rgba(72,164,198,0.45) 63%, rgba(39,40,74,0) 100%);
    border: 1.5px solid white;
    border-radius: 1rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main-container *{
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    text-decoration: none;
    margin: 1rem;
}

.main-content{
    width: 60rem;
    padding: 20vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-content p{
    font-size: 32px;
}

.main-content:first-child{
    display: flex;
    flex-wrap: nowrap;
}


@media screen and (max-width: 1100px) {
    nav {
        display: none;
    }
    .navigation{
        justify-content: center;
    }
    nav-alt{
        display: block;
    }
    nav{
        display: none;
    }
}

@media screen and (max-width: 60rem) {
    .devoidLogoLINK{
        justify-self: center;
    }

    .navigation{
        grid-template-columns: auto;
        grid-template-rows: min-content auto;
        gap: 2.5rem;
    }
    .main-content{
        width: auto;
    }
    .navigation, .navbar-item{
        padding-left: 0 !important;
        padding-right: 0 !important; 
    }
    button{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin: 0 !important;
    }
    .main-container{
        padding: 1rem;
    }
}
@media screen and (max-width: 40rem) {
    .main-content p {
        font-size: 24px;
    }
    .navbar li a, .navbar-alt li a {
        font-size: 16px;
        padding: .5rem 1rem;
    }
}


@media screen and (max-width: 22rem) {
    nav ul, nav-alt ul{
        grid-template-columns: 1fr 1fr;
    }
    
    .devoidLogo{
        width: 85vw;
    }
    .navbar-item:first-child{
        display: none;
    }
}
