.entity{
    position: fixed;
    z-index: 0;
    pointer-events: none;

    width: 80rem;
}

.pinkEntity{
    left: -34rem;
    top: 21rem;
}

.purpleEntity{
    right: -45rem;
    top: -45rem;
}

.sunsetEntity{
    right: -53rem;
    bottom: -95rem;
}

.navigation{
    width: auto;
    grid-template-columns: auto;
    gap: 0 !important;
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    margin: 0;

    display: flex;
    justify-content: center;

    font-family: "Inter Tight", sans-serif;
    font-size: 32px;
    font-weight: 200;
    text-transform: uppercase;

}

.devoidLogoMAIN{
    width: 100%;
    padding-bottom: 2rem;
}

footer{
    height: 10rem;
}


@media screen and (max-width: 1200px) {
    .devoidLogoMAIN {
        width: 75vw;
    }
}