:root{
    --highlighted: #44c0e2;
    --background: #383957c2;
    --dropdown-item-border-radius: 1rem;
    --navigation-padding-value: 3rem;
    --navigation-padding: var(--navigation-padding-value) 10vw;
}

.devoidLogoLINK{
    width: min-content;
    transition-duration: 0.3s;
    will-change: transform; 
}

.devoidLogoLINK:hover{
    transform: scale(1.15);
    transition-duration: 0.3s;
}

.homepage{
    justify-content: center;
    grid-template-columns: repeat(3, 12rem);
}

nav{
    display: grid;
    font-family: "Inter Tight", sans-serif;
    grid-template-columns: 12rem 6.5rem 7rem; 

    font-size: 16pt;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
    gap: 1rem;
    z-index: 10;
    justify-content: center;
}

nav-item{
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 45px;
    padding: 0.5rem 0;

    transition: 0.2s;
}

nav-item:hover {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.75);
}

nav-item a{
    display: block;
}

.dropdown-container, .dropdown-container:hover{
    position: relative;

    background-image:
        linear-gradient(45deg, transparent 50%, rgb(255, 255, 255) 50%),
        linear-gradient(135deg, rgb(255, 255, 255) 50%, transparent 50%);
    background-position:
        calc(100% - 20px) 1em,
        calc(100% - 15px) 1em;
    background-size:
        5px 5px,
        5px 5px;
    background-repeat: no-repeat;
}

.dropdown-container:last-child, .dropdown-container:last-child:hover{
    background-position:
        calc(100% - 7px) 1em,
        calc(100% - 2px) 1em;
}

.dropdown-container:hover > dropdown{
    display: grid;
}

dropdown{
    padding-top: 1rem;
    display: none;
    position: absolute;   
    font-weight: 500;

    left: 50%;
    transform: translateX(-50%);
    top: 100%;
}

dropdown a{
    background: var(--background);
    backdrop-filter: blur(2px);
    width: 11rem;
    font-size: 10pt;
    z-index: 9;
    padding: 1rem 2rem;
    text-align: left;
}

dropdown a:hover{
    background: var(--highlighted);
}

dropdown a:first-child{
    border-radius: var(--dropdown-item-border-radius) var(--dropdown-item-border-radius) 0 0;
}

dropdown a:last-child{
    border-radius: 0 0 var(--dropdown-item-border-radius) var(--dropdown-item-border-radius);
}

.navigation{
    padding: var(--navigation-padding);
    width: auto;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr min-content;
}

@media screen and (max-width: 60rem), (orientation: portrait) {
    .navigation{
        gap: 1rem;
        grid-template-rows: min-content min-content;
        grid-template-columns: auto;
        gap: 2.5rem;
    }

    .devoidLogoLINK{
        justify-self: center;
    }

    nav, .homepage{
        grid-template-columns: repeat(2, min-content);
    }
    
    nav-item {
        padding: 0.5rem 2rem;
    }

    nav-item:nth-child(2){
        display: none;
    }

    .dropdown-container:last-child, .dropdown-container:last-child:hover{
        background-position:
            calc(100% - 20px) 1em,
            calc(100% - 15px) 1em;
    }
}

@media screen and (max-width: 35rem) {
    nav-item {
        padding: 0.5rem 1rem;
    }

    dropdown a{
        padding: 1rem;
    }
    
    .dropdown-container, .dropdown-container:hover, .dropdown-container:last-child, .dropdown-container:last-child:hover{
        background-position:
            calc(100% - 4px) 1em,
            calc(100% - -1px) 1em;
    }
    
    nav {
        font-size: 12pt;
    }
}

@media screen and (max-width: 22rem) {
    dropdown a{
        width: auto;
    }
}