entity{
    width: 30rem;
    height: 30rem;
    background-image: 
    url(../images/noise.svg);
    background-size: contain;
    background-repeat: no-repeat;

    grid-area: 1 / 1 / 4 / 2;
    position: absolute;
    margin-top: -10rem;
}

synopsis{
    display: block;
    text-align: center;
    background: linear-gradient(0deg, rgba(200, 200, 200, 0.5) 2%, rgba(72, 164, 198, 0.45) 28%, rgba(39, 40, 74, 0) 67%);
    padding: 4rem;
    border-radius: 1rem;
    max-width: 50rem;
    
    font-size: 16pt;
    font-weight: 200;

    margin: auto;
}

large-banner, title{
    display: block;
    text-align: center;
    width: 100%;
    font-size: 32pt;    
    text-transform: uppercase;
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}


card{
    gap: 1rem;
    font-weight: 200;
    margin: 0 1.5rem;
    display: grid;
    border-radius: var(--card-border-radius);
    max-width: 45rem;
    justify-items: center;


    /* margin: auto; */
    /* padding: 5rem; */
}

inner-card{
    background: linear-gradient(0deg, rgba(126, 128, 156, 0.45) 0%, rgba(7, 9, 31, 0.45) 100%);
    grid-template-rows: min-content min-content;
    outline: rgba(255, 255, 255, 0.46) 1pt solid;
    border-radius: 1rem;
    z-index: 1;
    padding: 2.5rem 3rem;
    display: grid;
    height: 18rem;
    gap: 1rem;
    grid-area: 1 / 1 / 4 / 2;
    align-content: center;
}

article-description{
    height: 5rem;

    mask-image: linear-gradient(black 38%, rgba(0, 0, 0, 0) 93%);
    overflow: hidden;
}

inner-card a{
    text-align: end;
}

.swiper-wrapper{
    padding: 4rem 0;
}

description{
    /* height: 15rem; */
}



.swiper-slide, .swiper-slide-next, .swiper-slide-prev{
    opacity: 20%;
    user-select: none; 
    /* transition: opacity .5s ease-in-out !important; */
}

.swiper-slide-active{
    opacity: 100%;
}

button{
    padding: 0.5rem 4rem;
}

.swiper-button-next:after, .swiper-button-prev:after{
    content: "" !important;
}

.swiper-button-prev, .swiper-button-next{
    background-repeat: no-repeat;
    background-color: rgb(41, 42,79);
    outline: rgba(255, 255, 255, 0.46) 1pt solid;
    padding: 1rem;
    background-position-y: center;
    background-size: 2.5rem;

}


.swiper-button-prev{
    background-image: url(../images/prevPageBtn.svg);
    left: 0 !important;
    padding-left: 5rem;
    border-radius: 0 1rem 1rem 0;
    background-position-x: 3.75rem;
}

.swiper-button-next{
    background-image: url(../images/nextPageBtn.svg);
    right: 0 !important;
    padding-right: 5rem;
    border-radius: 1rem 0 0 1rem;
    background-position-x: 1.5rem;
}