:root{

    --card-height: 18rem;
    --card-width: 45rem;
    --inner-card-padding-left-right: 3rem;
    --inner-card-padding-top-down: 2.5rem;
}

main{
    display: grid;
    justify-items: center;
    text-align: center;
}

card{
    scale: .8;
    opacity: 0%;
    transition: opacity .5s linear,
                scale .5s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
    gap: 1rem;
    padding-top: 12rem;
}
synopsis{
    display: block;
    background: linear-gradient(0deg, rgba(200, 200, 200, 0.5) 2%, rgba(72, 164, 198, 0.45) 28%, rgba(39, 40, 74, 0) 67%);
    padding: 4rem;
    border-radius: 1rem;
    max-width: 38rem;
    
    font-size: 16pt;
    font-weight: 300;

    margin: 0 2rem;
}

large-banner, title{
    display: block;
    width: 100%;
    font-size: 32pt;    
    text-transform: uppercase;
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}


card img{    
    margin-top: -17rem;
    margin-bottom: -2rem;
    width: var(--card-width);
    grid-area: 1 / 1 / 2 / 2;
    scale: 1.25;
}

inner-card{
    background: linear-gradient(0deg, rgba(126, 128, 156, 0.45) 0%, rgba(7, 9, 31, 0.45) 100%);
    grid-template-rows: min-content min-content;
    outline: rgba(255, 255, 255, 0.46) 1pt solid;
    border-radius: 3rem;
    z-index: 1;
    padding: var(--inner-card-padding-top-down) var(--inner-card-padding-left-right);
    display: grid;
    height: var(--card-height);
    gap: 1rem;
    grid-area: 1 / 1 / 2 / 2;
    align-content: center;
}

description{
    font-weight: 300;
}

.swiper{
    width: 100%;
    margin-top: -5rem;
}

.swiper-slide{
    height: min-content;
    display: grid;
    grid-template-rows: min-content min-content;
    font-weight: 200;
    border-radius: var(--card-border-radius);
    width: var(--card-width);
    justify-items: center;
}

.swiper-slide-visible{
    opacity: 20%;
    user-select: none; 
}

.swiper-slide-active{
    scale: 1;
    opacity: 100%;
}

.swiper-wrapper {
    margin: 4rem 0;
}


button{
    padding: 0.5rem 4rem;
    font-size: large;

}

.swiper-button-next:after, .swiper-button-prev:after{
    content: "" !important;
}

.swiper-button-prev, .swiper-button-next{
    background-repeat: no-repeat;
    background-color: rgb(41, 42,79);
    outline: rgba(255, 255, 255, 0.46) 1pt solid;
    padding: 1rem;
    background-position-y: center;
    background-size: 2.5rem;

}


.swiper-button-prev{
    background-image: url(../images/prevPageBtn.svg);
    left: 0 !important;
    padding-left: 5rem;
    border-radius: 0 1rem 1rem 0;
    background-position-x: 3.75rem;
}

.swiper-button-next{
    background-image: url(../images/nextPageBtn.svg);
    right: 0 !important;
    padding-right: 5rem;
    border-radius: 1rem 0 0 1rem;
    background-position-x: 1.5rem;
}


@media screen and (max-width: 60rem) {
    :root {
        --card-width: 33rem;
        --card-height: auto;
        
        --inner-card-padding-left-right: 1.5rem;
        --inner-card-padding-top-down: 1.5rem;
    }
    card img {
        margin-top: -10rem;
    }
    .swiper-button-next{
        padding-right: 2rem;
    }
    .swiper-button-prev{
        padding-left: 2rem;
        background-position-x: 0.75rem;
    }
    

}


@media screen and (max-width: 35rem) {
    :root{
        --card-width: 90vw;
    }

    large-banner, title {
        font-size: 24pt;
    }
    synopsis{
        padding: 2rem;
    }
    
    .swiper-button-prev, .swiper-button-next {
        padding: .5rem;
        background-size: 1.5rem;
        scale: .75;
    }

    .swiper-button-next{
        background-position-x: 1rem;
        padding-right: 1em;
        transform-origin: center right;
    }
    .swiper-button-prev{
        padding-left: 1rem;
        background-position-x: 0.5rem;
        transform-origin: center left;
    }

    description{
        font-size: 11pt;
    }

    synopsis{
        margin: 0 1rem;
        font-size: 13pt;
    }

    card img{
        scale: 1.0;
    }
}