RewriteEngine On

# Redirect from act1-1.php to act1-1
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/?$ $1.php [L]

# Rewrite act1-1 to act1-1.php internally
RewriteRule ^act1-1/?$ act1-1.php [L]

# Redirect from act1-1.html to act1-1
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/?$ $1.html [L]

# Rewrite act1-1 to act1-1.html internally
RewriteRule ^act1-1/?$ act1-1.html [L]